{% extends 'core/base.html' %}
{% block content %}
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold text-center">Welcome to Django Tailwind CSS</h1>
        <h3 class="text-lg text-center text-sky-700">This is a simple Django project with Tailwind CSS</h3> <br>
        <p class="text-sm text-center text-gray-800">In this project, I am going to create authentication using various django built in authentication views and models, <br> style them with Tailwind CSS in order to expand my knowledge in django forms and models as well as styling with Tailwind.</p> <br>
        <p class="text-xs text-center text-blue-950">Stay tuned to sail with me in this boat. Yay!</p>
    </div>
{% endblock %}